<div class="container mt-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-12 col-lg-6">
      <img src="assets/img/foto_zakaria.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="500" loading="lazy">
    </div>
    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Ehylà, sono Zakaria</h1>
      <p class="lead">Ho qualche anno di esperienza come sviluppatore, con competenze specializzate
        in Spring Boot e SQL. Sono appassionato nel creare soluzioni software scalabili e performanti
        per affrontare sfide complesse. Sono sempre alla ricerca di opportunità per espandere le mie conoscenze e collaborare su progetti stimolanti.</p>
      <div class="d-flex justify-content-start mt-3">
        <a href="#contattami" class="btn btn-primary btn-lg px-4 me-2" style="width: 150px; text-decoration: none;">Contattami</a>
        <button type="button" class="btn btn-primary btn-lg px-4" style="width: 150px;">Progetti</button>
      </div>
    </div>
  </div>
</div>
