<div class="container">
  <h1 id="esperienza" class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Esperienza</h1>
  <div class="main-timeline">
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">1.1 Anni</span>
            <span class="year">2022</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Zucchetti</h5>
        <p class="description">
          Prima di unirmi al team di Zucchetti, ho seguito un corso intensivo
          della durata di 8 settimane, durante il quale ho acquisito conoscenze
          fondamentali di programmazione. Durante questo corso, ho studiato una
          vasta gamma di argomenti, tra cui JavaScript, SQL, Java, HTML, CSS,
          JavaScript, il ciclo di vita del software, Linux e Sitepainter.
          Inoltre, ho avuto l'opportunità di partecipare a vari progetti in
          team. Nel mio ruolo presso Zucchetti, il mio lavoro principale
          consisteva nell'aggiornare sistemi esistenti, risolvere bug e
          sviluppare nuove funzionalità su richiesta dei clienti, soprattutto
          clienti interni. In alcuni progetti, ho svolto l'analisi iniziale e ho
          sviluppato il progetto utilizzando il software aziendale SitePainter,
          che si basa su Java, JavaScript, CSS e Microsoft SQL. Dato che i
          progetti richiedevano l'accesso a dati provenienti da diverse fonti,
          ho collaborato attivamente con vari reparti aziendali, richiedendo
          informazioni sulle loro tabelle di database e sui loro sistemi, al
          fine di garantire un'efficace integrazione tra i sistemi. Una volta
          completato il progetto, ho eseguito test e debugging e ho redatto un
          documento tecnico del programma per l'archiviazione.
        </p>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">2 Mesi</span>
            <span class="year">2023</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Partner Data</h5>
        <p class="description">
          Durante la mia esperienza presso Partner Data, ho avuto l'opportunità
          di immergermi nel mondo del mobile e di acquisire conoscenze
          fondamentali di sviluppo Android utilizzando Android Studio e Java. Ho
          appreso i principali concetti e strumenti necessari per creare
          applicazioni Android di base.
        </p>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">3 Mesi</span>
            <span class="year">2023</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">
          Accademy Full Stack Developer - Bit Software Solution
        </h5>
        <p class="description">Argomenti: (Angular , Java e SQL)</p>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">Presente</span>
            <span class="year">2023</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Esis</h5>
        <p class="description">
          Sviluppo back-end utilizzando il framework Spring Boot e SQL, con un
          focus sulla creazione di API per gestire operazioni CRUD, supportando
          sia l'approccio REST che SOAP.
        </p>
      </div>
    </div>
    <!-- end experience section-->
  </div>
</div>
