<header class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/" class="navbar-brand">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Zakaria Akrach</span>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto ms-auto">
      <li class="nav-item"><a (click)="downloadPDF()" class="nav-link" style="cursor: pointer">CV</a></li>
      <li class="nav-item"><a href="/#chi-sono" class="nav-link">Chi sono?</a></li>
      <li class="nav-item"><a href="/#esperienza" class="nav-link">Esperienza</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Progetti</a></li>
      <li class="nav-item"><a href="/#contattami" class="nav-link active">Contattami</a></li>
    </ul>
  </div>
</header>
