<div class="container mt-5">
  <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Chi sono?</h1>
  <p class="lead">
    Ciao, sono Zakaria, un appassionato sviluppatore full-stack con oltre un
    anno di esperienza nel mondo della programmazione. Ho iniziato la mia
    carriera come programmatore full-stack presso Zucchetti, dove ho avuto
    l'opportunità di lavorare su progetti complessi all'interno del team dei sistemi informativi.
    In seguito, ho intrapreso una breve esperienza come sviluppatore
    Android, ampliando così il mio repertorio di competenze. Durante il mio
    percorso professionale, ho riconosciuto l'importanza di rimanere
    aggiornato con le più recenti tecnologie e framework. Ho quindi deciso
    di dedicare del tempo a una formazione full time, dove ho approfondito
    le mie competenze in Spring Boot, Angular e MySQL. Attualmente, sono
    impiegato come Back-end Developer presso Esis, dove utilizzo Spring Boot
    e SQL per sviluppare soluzioni software scalabili e performanti. Sono
    sempre alla ricerca di nuove sfide e opportunità per espandere le mie
    competenze e contribuire a progetti stimolanti nel mondo dello sviluppo
    software.
  </p>
  <h3 class="display-6 text-body-emphasis mb-3">Skills</h3>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">HTML</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">CSS</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">JavaScript</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">Angular (Base)</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">SEO</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">GIT</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">Java</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">Spring Boot</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">SQL</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">Android Studio (Base)</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="skills__skill mb-3">Editing Audio & Video (Base)</div>
    </div>
  </div>
</div>
